html, body {
  font-family: 'Staatliches', cursive;
  font-family: 'Noto Serif TC', serif; }

body, html {
  background: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: none; }

.slide {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: blur(140px);
  transition: all 1s; }
  .slide video {
    opacity: 0; }
    .slide video.fill-slide {
      width: 100%; }
  .slide img.ken-burns {
    opacity: .3;
    position: absolute;
    width: 110vw;
    height: 110vw;
    top: 50%;
    left: 50%;
    margin: -55vw;
    animation: ken_burns_animation 120s; }

.slide.active {
  filter: blur(0px);
  opacity: 1;
  transition: all 1s; }
  .slide.active video {
    opacity: .25; }

iframe.stage {
  background: #000;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px; }

.slide article {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  color: #fff;
  padding: 1em;
  padding: 50px; }
  .slide article:before {
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 33vh; }
  .slide article h1, .slide article h2 {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif TC', serif;
    font-weight: 200;
    font-size: 100px;
    line-height: 1.1em;
    color: #77c4ff; }
    .slide article h1 small, .slide article h2 small {
      margin-top: .5em;
      display: block;
      font-family: 'Staatliches', cursive;
      color: #fff;
      font-size: 40px;
      line-height: 1.1em;
      letter-spacing: 2px; }
  .slide article h1 {
    font-size: 180px; }
    .slide article h1.danger {
      font-family: 'Staatliches', cursive;
      color: #a00;
      animation: danger_animation .5s infinite; }
    .slide article h1.promises {
      font-family: 'Staatliches', cursive;
      color: #a00;
      animation: promises_animation 5s infinite; }
  .slide article p {
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    margin-bottom: 0; }
    .slide article p.copy {
      font-size: 15px;
      font-family: 'Noto Serif TC', serif;
      color: #777;
      font-style: italic;
      margin-top: 1.5em; }
  .slide article a {
    color: #777;
    text-decoration: none;
    border-bottom: 2px solid #777; }

.share-me {
  font-family: 'Staatliches', cursive;
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 0px;
  right: 0;
  background: #000;
  padding: .75em;
  letter-spacing: 1px; }

@keyframes danger_animation {
  0% {
    color: #a00; }
  50% {
    color: #f66; }
  100% {
    color: #a00; } }

@keyframes promises_animation {
  0% {
    color: red; }
  25% {
    color: yellow; }
  50% {
    color: green; }
  75% {
    color: blue; }
  100% {
    color: red; } }

@keyframes ken_burns_animation {
  0% {
    width: 110vw;
    height: 110vw;
    margin: -55vw; }
  100% {
    width: 240vw;
    height: 240vw;
    margin: -120vw; } }
