$phone-grid-count: 15;
$phone-grid-margin: 1;
$phone-grid-step: 100% / $phone-grid-count;

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 28px;
}

@media (max-width: 720px) {
    .grid { 
        width: $phone-grid-step * ($phone-grid-count - ($phone-grid-margin * 2));
        grid-gap: 1vw * (100 / $phone-grid-count);
    }
}
@media (min-width: 721px) and (max-width: 1025px) {
    .grid { width: 644px; }
    .grid.decorator {
        box-shadow: inset 1px 1px 0px rgba(123,0,255,1),
        inset -1px -1px 0px rgba(123,0,255,1);
        background-image:
        -webkit-linear-gradient(0deg, rgba(0,0,0,0) 27px, rgba(0,123,255,.5) 28px, rgba(0,0,0,0) 28px,
                                      rgba(0,0,0,0) 55px, rgba(0,123,255,.5) 56px),
        -webkit-linear-gradient(top,  rgba(0,0,0,0) 6px, rgba(0,0,0,.1) 7px, rgba(0,0,0,0) 7px,
                                      rgba(0,0,0,0) 13px, rgba(0,0,0,.2) 14px, rgba(0,0,0,0) 14px,
                                      rgba(0,0,0,0) 20px, rgba(255, 0, 225, .35) 21px, rgba(0,0,0,0) 21px,
                                      rgba(0,0,0,0) 27px, rgba(0,123,255,.75) 28px);
        background-size: 56px 100%, 100% 28px;
        background-position: 0px 0px;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .grid { width: 980px; }
    .grid.decorator {
        box-shadow: inset 1px 1px 0px rgba(123,0,255,1),
        inset -1px -1px 0px rgba(123,0,255,1);
        background-image:
        -webkit-linear-gradient(0deg, rgba(0,0,0,0) 27px, rgba(0,0,0,.1) 28px, rgba(0,0,0,0) 28px,
                                      rgba(0,0,0,0) 55px, rgba(0,123,255,.5) 56px, rgba(0,0,0,0) 56px,
                                      rgba(0,0,0,0) 83px, rgba(0,123,255,.5) 84px),
        -webkit-linear-gradient(top,  rgba(0,0,0,0) 6px, rgba(0,0,0,.1) 7px, rgba(0,0,0,0) 7px,
                                      rgba(0,0,0,0) 13px, rgba(0,0,0,.2) 14px, rgba(0,0,0,0) 14px,
                                      rgba(0,0,0,0) 20px, rgba(255, 0, 225, .35) 21px, rgba(0,0,0,0) 21px,
                                      rgba(0,0,0,0) 27px, rgba(0,123,255,.75) 28px);
        background-size: 84px 100%, 100% 28px;
        background-position: 0px 0px;
    }
}

@media (min-width: 1367px) {
    .grid { width: 1316px; }
    .grid.decorator {
        box-shadow: inset 1px 1px 0px rgba(123,0,255,1),
        inset -1px -1px 0px rgba(123,0,255,1);
        background-image:
        -webkit-linear-gradient(0deg, rgba(0,0,0,0) 27px, rgba(0,0,0,.1) 28px, rgba(0,0,0,0) 28px,
                                      rgba(0,0,0,0) 55px, rgba(0,0,0,.1) 56px, rgba(0,0,0,0) 56px,
                                      rgba(0,0,0,0) 83px, rgba(0,123,255,.5) 84px, rgba(0,0,0,0) 84px,
                                      rgba(0,0,0,0) 111px, rgba(0,123,255,.5) 112px),
        -webkit-linear-gradient(top,  rgba(0,0,0,0) 6px, rgba(0,0,0,.1) 7px, rgba(0,0,0,0) 7px,
                                      rgba(0,0,0,0) 13px, rgba(0,0,0,.2) 14px, rgba(0,0,0,0) 14px,
                                      rgba(0,0,0,0) 20px, rgba(255, 0, 225, .35) 21px, rgba(0,0,0,0) 21px,
                                      rgba(0,0,0,0) 27px, rgba(0,123,255,.75) 28px);
        background-size: 112px 100%, 100% 28px;
        background-position: 0px 0px;
    }
}

.grid > div {
    background: rgba(255,0,0,.025);
}


@media (max-width: 720px) {
    .grid {
        & > .cell-1,
        & > .cell-2,
        & > .cell-3,
        & > .cell-4,
        & > .cell-5,
        & > .cell-6,
        & > .cell-7,
        & > .cell-8,
        & > .cell-9,
        & > .cell-10,
        & > .cell-11,
        & > .cell-12 { grid-column: span 12; }
    }
}

@media (min-width: 721px) {
    .grid {
        & > .cell-1 { grid-column: span 1; }
        & > .cell-2 { grid-column: span 2; }
        & > .cell-3 { grid-column: span 3; }
        & > .cell-4 { grid-column: span 4; }
        & > .cell-5 { grid-column: span 5; }
        & > .cell-6 { grid-column: span 6; }
        & > .cell-7 { grid-column: span 7; }
        & > .cell-8 { grid-column: span 8; }
        & > .cell-9 { grid-column: span 9; }
        & > .cell-10 { grid-column: span 10; }
        & > .cell-11 { grid-column: span 11; }
        & > .cell-12 { grid-column: span 12; }
    }
}

.media {
    display: block;
    position: relative;
    width: 100%;
    background: rgba(255,0,255,.25);

    &:before {
        content: '';
        display: block;
    }

    &.media-1-1:before { padding-top: 100%; }
    &.media-1-2:before { padding-top: 200%; }
    &.media-1:before { padding-top: 28px; }
    &.media-2:before { padding-top: 56px; }
    &.media-3:before { padding-top: 84px; }
    &.media-4:before { padding-top: 112px; }
    &.media-5:before { padding-top: 140px; }
    &.media-6:before { padding-top: 168px; }
    &.media-7:before { padding-top: 196px; }
    &.media-8:before { padding-top: 224px; }
    &.media-9:before { padding-top: 252px; }
    &.media-10:before { padding-top: 280px; }
    &.media-11:before { padding-top: 308px; }
    &.media-12:before { padding-top: 336px; }
    &.media-13:before { padding-top: 364px; }
    &.media-14:before { padding-top: 392px; }
    &.media-15:before { padding-top: 420px; }
    &.media-16.cell-1 { padding-top: 448px; }
    &.media-17:before { padding-top: 476px; }
    &.media-18:before { padding-top: 504px; }
    &.media-19:before { padding-top: 532px; }
    &.media-20:before { padding-top: 560px; }
    &.media-21:before { padding-top: 588px; }
    &.media-22:before { padding-top: 616px; }
    &.media-23:before { padding-top: 644px; }
    &.media-24:before { padding-top: 672px; }

    margin-bottom: 28px;
    &:last-child {
        margin-bottom: 0;
    }
}





