$font-size: 16px;
$baseline: 28px;

$phone-grid-count: 15;
$phone-grid-margin: 1;
$phone-grid-step: 100% / $phone-grid-count;

$mobile-font-size: 1vw * (100 / ($phone-grid-count * 1.75));
$mobile-baseline: 1vw * (100 / $phone-grid-count);

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'WienerMelange';
    font-size: $font-size;
    line-height: $baseline;

    @media (max-width: 720px) {
        font-size: $mobile-font-size;
        line-height: $mobile-baseline;
    }
    min-height: 100%;
    vertical-align: baseline;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 2.6666 * $font-size;
    line-height: 2 * $baseline;
    font-weight: 800;
    @media (max-width: 720px) {
        font-size: 2.6666 * $mobile-font-size;
        line-height: 2 * $mobile-baseline;
    }
}

h2 {
    font-size: 2.6666 * $font-size;
    line-height: 2 * $baseline;
    font-weight: 400;
    @media (max-width: 720px) {
        font-size: 2.6666 * $mobile-font-size;
        line-height: 2 * $mobile-baseline;
    }
}

h3 {
    font-size: 2 * $font-size;
    line-height: 2 * $baseline;
    font-weight: 400;
    @media (max-width: 720px) {
        font-size: 2 * $mobile-font-size;
        line-height: 2 * $mobile-baseline;
    }
}

h4 {
    font-size: 1.2 * $font-size;
    line-height: $baseline;
    font-weight: 400;
    @media (max-width: 720px) {
        font-size: 1.2 * $mobile-font-size;
        line-height: $mobile-baseline;
    }
}

h5 {
    font-size: $font-size;
    line-height: $baseline;
    font-weight: 600;
    @media (max-width: 720px) {
        font-size: $mobile-font-size;
        line-height: $mobile-baseline;
    }
}

h6 {
    font-size: $font-size;
    line-height: $baseline;
    font-weight: 600;
    @media (max-width: 720px) {
        font-size: $mobile-font-size;
        line-height: $mobile-baseline;
    }
}
