nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    background: red;
    a {
        display: inline-block;
        height: 30px;
        background: #fff;
    }
}